node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
jest.basic.config.js
dev-samples/legacy/physics_stores_backup-Friday-18h.sql 
#This is a backup file, BUT HAS PLAINTEXT PASSWORDS!!
docs/_build/*
docs/_build
docs/_build/doctrees

test-analysis.json/
reports/playwright-html-report/*
reports/playwright-results.xml
reports/playwright-results.json
screenshots/*
test-results/*
playwright-report/*
debug-*.png
CLAUDE.md

# SSL/HTTPS related files
certbot/conf/*
certbot/www/*
.env.ssl
logs/nginx/*
logs/certbot/*
migration-env/
client/src/__tests__/*.js
client/src/__tests__/*.jsx
client/src/components/*.jsx
client/src/components/ui/*.jsx
client/src/**/*.jsx

docs/_build/html/_sources/**/*.rst.txt
docs/_build/html/*.html
docs/_build/html/**/*.html
docs/_build/doctrees/**/*.doctree
claude.md
backups/